.App {
  text-align: left;
}
/* Increase the height of the rows */
.react-calendar-timeline .rct-horizontal-lines .rct-hl-even .rct-hl-odd {
  height: 90px; /* Adjust as needed */
}

/* Increase the height of the header */
.react-calendar-timeline .rct-header-root {
  height: 100px; /* Adjust as needed */
}

/* Adjust the line height for header content to vertically center it */
.react-calendar-timeline .rct-header-content {
  line-height: 90px; /* Same as header height */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
